<a href="https://colab.research.google.com/github/azario0/sql/blob/main/English.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Presented by Benmalek Zohir

## What is SQL? <br>
SQL (Structured Query Language) is a programming language used to manage and manipulate databases.<br><br>
## Why learn SQL?<br>
SQL is essential for interacting with relational databases, which are widely used to store data in various applications. <br><br>

## Why Use SQLite and sqlite3? <br><br>

#### Simplicity and Ease of Use
SQLite is a lightweight, serverless database that doesn't require complex setup or configuration. <br> It's ideal for learning SQL because it allows students to focus on understanding database concepts <br> without worrying about server management.

#### Integration with Python and more


## Basic SQL Queries:

SELECT: Retrieve all records from the students table.
<br>
INSERT: Add new records to the students table.
<br>
UPDATE: Modify existing records.
<br>
DELETE: Remove records from the table.

# The import

In [ ]:
import sqlite3

# Connect to an in-memory SQLite database

In [ ]:
# To create a new database file or connect to an existing one.
# conn = sqlite3.connect('my_database.db')


# Connect to an in-memory database to avoid file system interactions
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a table

In [ ]:
query = """
CREATE TABLE students
                (id INTEGER PRIMARY KEY,
                 name TEXT,
                 age INTEGER)
"""
cursor.execute(query); # It acts as an interface between your Python code and the SQLite database.

# Insert data

In [ ]:
query = """
INSERT INTO students (name, age) VALUES ('Alice', 20)
"""
cursor.execute(query) # for SQL commands

query = """
INSERT INTO students (name, age) VALUES ('Bob', 22)
"""
cursor.execute(query)
conn.commit() # To save changes.

# Select data and printing students

In [ ]:
def print_students():
    cursor.execute("SELECT * FROM students")
    print("All students:")
    for row in cursor.fetchall(): #  to retrieve results.
        print(row)

print_students()

All students:
(1, 'Alice', 42)

# Update data

In [ ]:
query ="UPDATE students SET age = 42 WHERE name = 'Alice'"
cursor.execute(query)
conn.commit()

In [ ]:
print_students()

All students:
(1, 'Alice', 42)
(2, 'Bob', 22)

# Delete data

In [ ]:
query = "DELETE FROM students WHERE name = 'Bob'"
cursor.execute(query)
conn.commit()

In [ ]:
print_students()

All students:
(1, 'Alice', 42)

# Close the connection

In [ ]:
conn.close()