<a href="https://colab.research.google.com/github/azario0/sql/blob/main/Francais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Présenté par Benmalek Zohir

## Qu'est-ce que SQL ? <br>
SQL (Structured Query Language) est un langage de programmation utilisé pour gérer et manipuler des bases de données.<br><br>
## Pourquoi apprendre SQL ?<br>
SQL est essentiel pour interagir avec les bases de données relationnelles, qui sont largement utilisées pour stocker des données dans diverses applications. <br><br>

## Pourquoi utiliser SQLite et sqlite3 ? <br><br>

#### Simplicité et Facilité d'Utilisation
SQLite est une base de données légère, sans serveur, qui ne nécessite pas une configuration complexe. <br> Elle est idéale pour apprendre SQL car elle permet aux étudiants de se concentrer sur la compréhension des concepts de base de données <br> sans se soucier de la gestion du serveur.

#### Intégration avec Python et plus encore


## Requêtes SQL de base:

SELECT : Récupérer tous les enregistrements de la table students.
<br>
INSERT : Ajouter de nouveaux enregistrements à la table students.
<br>
UPDATE : Modifier des enregistrements existants.
<br>
DELETE : Supprimer des enregistrements de la table.

# L'import

In [ ]:
import sqlite3

# Se connecter à une base de données SQLite en mémoire

In [ ]:
# Pour créer un nouveau fichier de base de données ou se connecter à un fichier existant.
# conn = sqlite3.connect('my_database.db')


# Se connecter à une base de données en mémoire pour éviter les interactions avec le système de fichiers
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Créer une table

In [ ]:
query = """
CREATE TABLE students
                (id INTEGER PRIMARY KEY,
                 name TEXT,
                 age INTEGER)
"""
cursor.execute(query); # Agit comme une interface entre votre code Python et la base de données SQLite.

# Insérer des données

In [ ]:
query = """
INSERT INTO students (name, age) VALUES ('Alice', 20)
"""
cursor.execute(query) # pour les commandes SQL

query = """
INSERT INTO students (name, age) VALUES ('Bob', 22)
"""
cursor.execute(query)
conn.commit() # Pour enregistrer les modifications.

# Sélectionner des données et imprimer les étudiants

In [ ]:
def print_students():
    cursor.execute("SELECT * FROM students")
    print("Tous les étudiants:")
    for row in cursor.fetchall(): #  pour récupérer les résultats.
        print(row)

print_students()

Tous les étudiants:
(1, 'Alice', 20)
(2, 'Bob', 22)

# Mettre à jour des données

In [ ]:
query ="UPDATE students SET age = 42 WHERE name = 'Alice'"
cursor.execute(query)
conn.commit()

In [ ]:
print_students()

Tous les étudiants:
(1, 'Alice', 42)
(2, 'Bob', 22)

# Supprimer des données

In [ ]:
query = "DELETE FROM students WHERE name = 'Bob'"
cursor.execute(query)
conn.commit()

In [ ]:
print_students()

Tous les étudiants:
(1, 'Alice', 42)

# Fermer la connexion

In [ ]:
conn.close()